body {
  text-align: center;
  background-color: rgb(11, 11, 45);
  color: white;
}

.checked {
  text-decoration: line-through;
}

#main {
  margin-top: 20px;
  font-size: 25px;
}

#todo-item {
  margin: 10px;
  gap:50px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

#delete {
  margin-left: 14px;
  transform: scale(1.3);
  border-radius: 10px;
  height: 25px;
  width: 70px;
}


#input-wishlist {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#input-wishlist input {
  height: 25px;
  width: 160px;
  border: 2px solid black;
  border-radius: 10px;
}

#input-wishlist button {
  border-radius: 10px;
  width: 50px;
}
